<a href="https://colab.research.google.com/github/MayurdhvajsinhJadeja/DAA/blob/main/Assignment1(DAA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("\t\tUp above the world so high") 
print("\t\tLike a diamond in the sky.") 
print("Twinkle, twinkle, little star,") 
print("\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [27]:
from datetime import date
x=input("Enter Name: ")
y=int(input("Enter Age: "))
print(x,"will turn 100 in the year",(date.today().year)+(100-y))

Enter Name: Mayurdhvaj
Enter Age: 19
Mayurdhvaj will turn 100 in the year 2103

In [28]:
x=int(input("Enter any Number: "))
n = str(x)
nn = n+n
nnn = n+n+n
f = int(n)+int(nn)+int(nnn)
print(f)

Enter any Number: 5
615

In [29]:
m = int(input("Enter Row Value: "))
n = int(input("Enter Column Value: "))
array = [[0 for col in range(n)] for row in range(m)]
for row in range(m):
  for col in range(n):
    array[row][col]=row*col
print(array)

Enter Row Value: 3
Enter Column Value: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [30]:
x = int(input("Angle X: "))
y = int(input("Angle Y: "))
z = int(input("Angle Z: "))
degrees = x + y + z
if (degrees == 180 and x != 0 and y != 0 and z != 0):
  print("Triangle is Valid")
else:
  print("Triangle is Invalid")

Angle X: 120
Angle Y: 20
Angle Z: 40
Triangle is Valid

In [31]:
x = int(input("Enter any Number: "))
# print("2"*2)
# print("3"*2)
# print("5"*5)
for i in range(x+1):
  print(str(i) * i)

Enter any Number: 5

1
22
333
4444
55555

In [32]:
x = 5
for i in range(0,x):
  for j in range(i):
    print("*", end=" ")
  print()
for i in range(x,0,-1):
  for j in range(i):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [33]:
x = input("Enter A String: ")
countdigits = 0
countletters = 0
for i in x:
  if i.isalpha():
    countletters+=1
  elif i.isdigit():
    countdigits+=1
  else:
    pass
print("Letters: ",countletters)
print("Digits: ",countdigits)

Enter A String: Python 3.2
Letters:  6
Digits:  2

In [34]:
ce=0
co=0
x = [0,1,2,3,4,5,6,7,8,9]
for i in x:
  if(i%2==0):
    # print('zero')
    ce+=1
  else:
    # print('odd')
    co+=1
print("Odd: ",co)
print("Even: ",ce)

Odd:  5
Even:  5

In [35]:
n = 50
x = 0
y = 1
sum = 0
while(sum <= n):
  print(sum, end = " ")
  x = y
  y = sum
  sum = x + y

0 1 1 2 3 5 8 13 21 34

In [36]:
for i in range(1500,2701):
  if(i%7==0 and i%5==0):
    print(i,end=" ")

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

In [37]:
import random
n = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x = random.choice(n)
user = int(input("Enter A Number Between 1 & 9: "))
if(user<x):
  print("You Guessed It Too Low")
elif(user==x):
  print("You Guessed It Exactly Right")
else:
  print("You Guessed It Too High")

Enter A Number Between 1 & 9: 5
You Guessed It Too Low

In [38]:
pswd = input("Enter Password: ")
lc, uc, sc, d = 0, 0, 0, 0
if (len(pswd)>=6 and len(pswd)<=16):
  for i in pswd:
    if (i.islower()):
      lc+=1           
    if (i.isupper()):
      uc+=1           
    if (i.isdigit()):
      d+=1           
    if(i=='$'or i=='@' or i=='#'):
      sc+=1          
if(lc>=1 and uc>=1 and sc>=1 and d>=1):
    print("Valid Password")
else:
    print("Invalid Password")

Enter Password: W3r@100a
Valid Password

In [39]:
x = int(input("Side X: "))
y = int(input("Side Y: "))
z = int(input("Side Z: "))
if (x==y==z):
  print("Triangle is Equilateral")
elif(x!=y!=z):
  print("Triangle is Scalene")
elif(x==y or x==z or y==z):
  print("Triangle is Isosceles")
else:
  print("Triangle is Invalid")

Side X: 3
Side Y: 3
Side Z: 3
Triangle is Equilateral

In [40]:
x = input("Enter An Alphabet: ")
alphabet = x.upper()
if(alphabet=='A' or alphabet=='E' or alphabet=='I' or alphabet=='O' or alphabet=='U'):
  print("Vowel")
else:
  print("Consonant")

Enter An Alphabet: a
Vowel

In [41]:
x = ['a','b','c','d']
s = ""
for i in x:
  s+=i
print(s)

abcd

In [42]:
l1 = ['Red','Green','Orange','White']
l2 = ['Black','Green','White','Pink']
x = 0
for i in l1:
  if(i==l2[x]):
    print(i,end=" ")
  else:
    x+=1

Green White

In [43]:
l1 = [1,2,3,4]
l2 = [1,2]
x = set(l1).difference(set(l2))
l = list(x)
print(l)

[3, 4]

In [44]:
x = [1,2,-8,0]
sl = min(x)
print(sl)

-8

In [45]:
import collections
x = [10,10,10,10,20,20,20,20,40,40,50,50,30]
f = collections.Counter(x)
print(dict(f))

{10: 4, 20: 4, 40: 2, 50: 2, 30: 1}