In [ ]:
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("\t\tUp above the world so high") 
print("\t\tLike a diamond in the sky.") 
print("Twinkle, twinkle, little star,") 
print("\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [ ]:
from datetime import date
x=input("Enter Name: ")
y=int(input("Enter Age: "))
print(x,"will turn 100 in the year",(date.today().year)+(100-y))

Enter Name: Mayurdhvaj
Enter Age: 19
Mayurdhvaj will turn 100 in the year 2103

In [ ]:
x=int(input("Enter any Number: "))
n = str(x)
nn = n+n
nnn = n+n+n
f = int(n)+int(nn)+int(nnn)
print(f)

Enter any Number: 5
615

In [ ]:
m = int(input("Enter Row Value: "))
n = int(input("Enter Column Value: "))
array = [[0 for col in range(n)] for row in range(m)]
for row in range(m):
  for col in range(n):
    array[row][col]=row*col
print(array)

Enter Row Value: 3
Enter Column Value: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [ ]:
x = int(input("Angle X: "))
y = int(input("Angle Y: "))
z = int(input("Angle Z: "))
degrees = x + y + z
if (degrees == 180 and x != 0 and y != 0 and z != 0):
  print("Triangle is Valid")
else:
  print("Triangle is Invalid")

Angle X: 60
Angle Y: 60
Angle Z: 60
Triangle is Valid

In [ ]:
x = int(input("Enter any Number: "))
# print("2"*2)
# print("3"*2)
# print("5"*5)
for i in range(x+1):
  print(str(i) * i)

Enter any Number: 5

1
22
333
4444
55555

In [ ]:
x = 5
for i in range(0,x):
  for j in range(i):
    print("*", end=" ")
  print()
for i in range(x,0,-1):
  for j in range(i):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*